/* Color Pallete */
$lunarGreen: #414C42;
$tuscany: #CD5B3A;
$whiskey: #D09375;
$grannySmith: #84A5A5;
$pampas: #EEE7E4;

/* Defines shadows for main boxes */
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

html{
  background-color: $lunarGreen;
}

/* The editor box styling */
#editor-box{
  float: left;
  background-color: $whiskey;
  border-radius: 2px;
  box-shadow: $shadow;
  
  width: 800px;
  margin-left: 2%;
  
}
#editor-toolbar{
  color: $pampas;
  font-size: 18px;
  padding-left: 4px;
  padding-top: 2px;
}
#editor-wrap{
  background-color: $pampas;
  color: $lunarGreen;
  border: none;
  border-radius: 2px;
  
  min-height: 150px;
  margin-bottom: 15px;
}
#editor{
  background-color: $pampas;
  color: $lunarGreen;
  
  border: none;
  border-radius: 2px;
  outline: none;
  
  min-height: 150px;
  height: 600px;
  min-width: 790px;
  max-width: 790px;
  
  padding-left: 2px;  
}

/* The preview box styling */
#preview-box{
  float: right;
  background-color: $grannySmith;
  border-radius: 2px;
  box-shadow: $shadow;
  
  width: 800px;
  margin-right: 2%;
}
#preview-toolbar{
  color: $pampas;
  font-size: 18px;
  padding-left: 4px;
  padding-top: 2px;
}

#preview{
  background-color: $pampas;
  color: $lunarGreen;
  border: none;
  border-radius: 2px;
  
  margin: none;
  min-height: 158px;
  padding-left: 2px;
  margin-bottom: 15px;
  
  /* Controls the markdown preview formatting */
  blockquote {
    border-left: 3px solid $tuscany;
    color: $lunarGreen;
    padding-left: 5px;
    margin-left: 25px;
  }

  code {
    color: $tuscany;
    background: white;
    font-size: 12px;
    font-weight: bold;
    
    padding: 1px 4px 2px 4px;
  }

  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }

  h1 {
    border-bottom: 2px solid $lunarGreen;
    margin-top: 0px;
  }

  h2 {
    border-bottom: 1px solid $lunarGreen;
  }

  table {
    border-collapse: collapse;
  }
  a {
    color: $tuscany;
  }
  td,
  th {
    border: 2px solid $lunarGreen;
    padding-left: 5px;
    padding-right: 5px;
  }
}